@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Titillium Web", sans-serif;;
    --fonte-texto: "Titillium Web", sans-serif;;
    --cor1: #000814ff;
    --coe2: #001d3dff;
    --cor3: #003566ff;
    --cor4: rgb(32, 4, 133);
    --cor5: rgb(0, 255, 238);
} 
body{
    font-family: var(--fonte-texto);
    background-color: var(--cor2);
    color: var(--cor2);
    height: 100vh;
}
header{
    background-color: var(--cor1);
    text-align: center;
}
h1{
    font-family: var(--fonte-titulo);
    font-size: 2.4rem;
    padding: 1.2rem 0;
    color: var(--cor3);
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor5);
    margin: 0 2rem 1rem 0;
    font-size: 1.5rem;
}
nav a:hover{
    text-decoration: underline;
    font-size: 1.7rem;
    color: var(--cor5);
    transition: 0.5s;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor3);
    color: var(--cor4);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
}